body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background-color: #f1f1f1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.avatar {
    border-radius: 15px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
}

.info-text {
    font-family: 'Roboto';
    font-style: italic;
}
.card {
    border: 2px solid #b9dae2;
    border-radius: 3px;
    background-color: #b9dae2;
    margin-bottom: 15px;
    padding: 20px;
    
}

.link:hover {
    color: crimson;
}
.link:visited {
    color: black;
}
.block {
    display: inline-block;
}
.card-4 {
    border: 2px solid #5ce973;
    border-radius: 3px;
    background-color: #5ce973;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-bottom: 20px;

}
.list {
    list-style: circle;
    padding-left: 10px;
}
.card-5 {
    border: 2px solid #f081d4;
    border-radius: 3px;
    background-color: #f081d4;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-bottom: 20px;

}
.table {
    
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    
}
th{
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 10px;
}
td{
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 10px;
}
.card-6 {
    border: 2px solid #a78b51;
    border-radius: 3px;
    background-color: #a78b51;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.form-space {
    margin-bottom: 5px;
}
.btn {
    border: 2px solid brown;
    border-radius: 5px;
    background-color: chocolate;
    padding: 10px 20px;
    cursor: pointer;
}